// Small Device Breakpoint
$small-device: 320px;
// Medium device Start
$medium-device: 360px;
// Medium device - A Start
$medium-device-A: 480px;
// Laptop Start - Display port
$laptop-device: 768px;
// Laptop Start - Display port
$laptop-device-A: 1024px;
// Laptop Device - Display Port
$laptop-device-B: 1030px;
// Laptop Device - Display Port
$laptop-device-C: 1366px;
// Large Display Monitor - A
$large-diplay-D: 1370px;
// Large Display Monitor - B
$large-diplay-E: 1605px;